<launch>
     <node name="controller"
          pkg="controller"
          type="robot.py"
          respawn="false"
          output="screen">
          <param name="prolog" value="$(find controller)/src/behaviour_else_empty.pl"/>
     </node>
     <node
          name="pose_publisher"
          pkg="pose_publisher"
          type="pose_publisher"
          output="screen"
     >
     </node>
</launch>
